.advantages {
  width: 320px;
}

.advantages__list {
  counter-reset: number;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__title-bold {
  @include boldfont;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number {
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.advantages__title {
  display: block;
  padding: 25px 20px 10px 20px;
  margin: 0;
  text-align: center;
}

.advantages__text {
  @include normalfont;
  margin: 0;
  margin-top: 15px;
  padding: 0 35px 30px 35px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}

.advantages__item--color {
  background-color: #eeeeee;
}

.advantages__number::before {
  @include normalfont;
  counter-increment: number;
  content: "– №"counter(number) " –";
  color: #333333;
  line-height: 21px;
  margin: 0;
}
