.gallery {
  width: 320px;
  background: url("/img/text-sedona.svg") no-repeat 50% 52px, url("/img/bg-intro-triangle-mobile.svg") no-repeat 0 132px, url("/img/bg-back-mobile@1x.jpg") no-repeat center -231px;
}

.gallery__top {
  padding-top: 198px;
}

.gallery__title {
  @include boldfont;
  margin: 0;
  padding: 0 20px 0 20px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.gallery__text {
  @include normalfont;
  margin: 25px 0 27px 0;
  padding: 0 23px;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
}
