.interview {
  width: 320px;
}

.interview__name,
.interview__contacts,
.interview__impression,
.interview__showplace,
.interview__emotion {
  width: 280px;
  padding: 21px 20px 26px 20px;
}

.interview__title {
  margin: 0 0 24px 0;

  @include boldfont;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.interview__name {
  // display: flex;
  // flex-direction: column;
}

.interview__name-label {
  float: left;
  @include normalfont;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.interview__name-input {
  padding: 0 22px 0 22px;

  height: 58px;
  border: none;
  background-color: #f2f2f2;
  font-family: "PT Sans";
}

.interview__name-input::placeholder {
  @include boldfont;
  line-height: 26px;
  color: black;
}

.interview__contacts-label {
  display: block;
  margin-top: 14px;
  @include normalfont;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.interview__contacts-input {
  width: 100%;
  padding: 0 22px 0 22px;
  margin-top: 9px;
  font-family: "PT Sans";
  @include normalfont;
  height: 58px;
  border: none;
  background-color: #f2f2f2;
}

.interview__contacts-input::placeholder {
  @include boldfont;
  line-height: 26px;
  color: black;
}

.interview__impression-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.interview__impression-radio {
  display: none;
}

.interview__impression-item:not(:last-child) {
  margin-bottom: 56px;
}

.interview__impression-label {
  display: block;
  @include boldfont;
  line-height: 26px;
  padding-left: 78px;
  cursor: pointer;

}

.interview__showplace-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.interview__showplace-item:not(:last-child) {
  margin-bottom: 56px;
}

.interview__showplace-checkbox {
  display: none;
}

.interview__showplace-label {
  display: block;
  padding-left: 78px;
  @include boldfont;
  line-height: 26px;
  cursor: pointer;
}

.interview__emotion-textarea {
  width: 236px;
  height: 160px;
  padding: 22px 22px 0 22px;
  border: none;
  background-color: #f2f2f2;
  @include normalfont;
}

.interview__emotion-textarea::placeholder {
  @include boldfont;
  line-height: 26px;
  color: black;
}

.interview__submit {
  width: 280px;
  height: 58px;
  border: none;
  padding: 0;

  font-family: "PT Sans";
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: white;
  background-color: #81b3d2;
  cursor: pointer;
}

