.main-nav {
  position: relative;
  width: auto;
  min-height: 279px;
  background-color: white;
}

.main-nav__list {
  order: 0;
}

.main-nav__logo {
  position: absolute;
  width: 102px;
  height: 83px;
  order: 1;
  top: 224px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

.main-nav__toggle {
  position: absolute;
  width: 23px;
  height: 22px;
  right: 20px;
  top: 17px;
  border: none;
  background: transparent url("../img/icon-menu.svg") no-repeat center center;
  cursor: pointer;
  z-index: 1;

  &--click {
    background: transparent url("../img/icon-cross.svg") no-repeat center center;
  }
  // &::before {
  //   content: "";
  //   position: absolute;
  //   width: 23px;
  //   height: 22px;
  //   left: 0;
  //   top: 225px;
  //   border: none;
  //   background: transparent url("../img/icon-menu.svg") no-repeat center center;
  //   cursor: pointer;
  //   z-index: 0;
  // }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    width: auto;
    min-height: 7%;
  }

  .main-nav__list {
    margin: 0 auto;
    min-height: 7%;
  }

  .main-nav__logo {
    top: 0;
    width: 188px;
    height: 96px;
  }

  .main-nav__logo-image {
    display: block;
    width: 100%;
    height: 96px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    min-width: 1200px;
    min-height: 56px;
  }
}
