.motels {
  width: 320px;
}

.motels__title {
  margin: 0;
  margin-top: 20px;
  padding: 0 20px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: black;
  text-transform: uppercase;
  text-align: center;
}

.motels__text {
  margin: 20px 0 36px 0;
  padding: 0 20px;
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.motels__button {
  display: block;
  width: 200px;
  padding: 15px 40px;
  margin-left: 20px;
  margin-bottom: 49px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: white;
  background-color: #81b3d2;
}

.motels__map {
  width: 320px;
  height: 350px;
}


@media (min-width: $tablet-width) {
  .motels {
    width: 768px;
  }

  .motels__button {
    width: 459px;
    margin: 0 auto 58px auto;
    padding: 16px 40px;
  }

  .motels__map {
    width: 768px;
    height: 350px;
    background: transparent url("/img/bg-map-tablet@1x.jpg") no-repeat;
  }

  .motels__image {
    opacity: 0;
  }

  .motels__title {
    margin: 58px 0 36px 0;
    font-size: 30px;
  }

  .motels__text {
    padding: 0 185px;
  }
}

@media (min-width: $desktop-width) {
  .motels {
    width: 1200px;
  }

  .motels__map {
    width: 1200px;
    background: transparent url("/img/bg-map-desktop@1x.jpg") no-repeat;
  }
}
