.photo-list {
  width: 320px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.photo-list__item {
  position: relative;
  padding: 23px 20px 16px 20px;
}

.photo-list__picture {
  width: 280px;
  height: 280px;
  margin-bottom: 10px;
}

.photo-list__name {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-list__author {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.photo-list__button {
  float: left;
  margin-top: 7px;
  margin-right: 15px;
  width: 22px;
  height: 22px;
  border: none;
  background: transparent url("/img/icon-like.svg") no-repeat center center;
  cursor: pointer;
}

.photo-list__likes {
  margin: 0;
  margin-top: 9px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.photo-list__item--style::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  top: 0;
  left: 0;
  background-color: #e5e5e5;
}

.photo-list__item--style:last-child::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #e5e5e5;
}

@media (min-width: $tablet-width) {
  .photo-list {
    width: 648px;
    padding: 0 60px;
  }

  .photo-list__item--style::before,
  .photo-list__item--style:last-child::after {
    display: none;
  }

  .photo-list__item {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    width: 324px;
    min-height: 347px;
    padding: 284px 0 0 20px;

    &:first-child {
      width: 648px;
      min-height: 480px;
      padding-top: 418px;
      padding-right: 20px;
      background: #f2f2f2 url("/img/photo-sunset-tablet@1x.jpg") no-repeat;
    }

    &:nth-child(2) {
      background: #f2f2f2 url("/img/photo-cactus-tablet@1x.jpg") no-repeat;
      padding-right: 30px;
    }

    &:nth-child(3) {
      background: #eaeaea url("/img/photo-roads-tablet@1x.jpg") no-repeat;
      padding-right: 36px;
    }

    &:nth-child(4) {
      background: #f2f2f2 url("/img/photo-bridge-tablet@1x.jpg") no-repeat;
      padding-right: 30px;
    }
  }

  .photo-list__picture {
    position: absolute;
    visibility: hidden;
  }
}
