.site-list {
  width: 320px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  background-color: #81b3d2;
}

.site-list__link {
  @include boldfont;
  display: block;
  padding: 8px 20px;
  line-height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    align-items: center;
    width: 728px;
    padding: 0 20px;
  }

  .site-list__item {
    background-color: white;
    padding: 15px 29px;

    &:nth-child(1) {
      margin-right: 19px;
    }

    &:nth-child(2) {
      margin-right: 151px;
    }

    &:nth-child(3) {
      margin-right: 14px;
    }

    &:last-child {
      padding: 15px 6px;
    }
  }

  .site-list__link {
    color: black;
    font-size: 14px;
    line-height: 26px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    width: 1076px;
    padding: 0 62px;
  }

  .site-list__item {
    background-color: white;
    padding: 15px 29px;

    &:nth-child(1) {
      margin-right: 104px;
    }

    &:nth-child(2) {
      margin-right: 324px;
    }

    &:nth-child(3) {
      margin-right: 100px;
    }

    &:last-child {
      padding: 15px 8px;
    }
  }
}
