.site-list {
  // display: none;
  width: 320px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__item {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  min-height: 56px;
  background-color: #81b3d2;
}

.site-list__link {
  display: block;
  padding: 8px 20px;
  @include boldfont;
  line-height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
