.site-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-list__link {
  display: block;

  @include boldfont;
  color: white;
  background-color: #81b3d2;
  text-decoration: none;
  text-transform: uppercase;
}
