.footer-page {
  padding: 17px 0 23px 0;
}

.footer-page__instagram {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto 35px auto;
}

.footer-page__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  color: black;
  text-align: center;

  margin-left: 70px;
}

.footer-page__social {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 151px;
  height: 48px;
  margin: 0 auto;
  padding: 0;
}

.footer-page__twitter,
.footer-page__facebook,
.footer-page__youtube {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.footer-page__twitter {
  position: relative;
  background-color: #81b3d2;

  &::after {
    content: "";
    width: 46px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent url("/img/icon-twitter.svg") no-repeat center center;
    background-size: 18px auto;
  }
}

.footer-page__facebook {
  position: relative;
  background-color: #81b3d2;

  &::after {
    content: "";
    width: 46px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent url("/img/icon-facebook.svg") no-repeat center center;
    background-size: 9px auto;
  }
}

.footer-page__youtube {
  position: relative;
  background-color: #81b3d2;

  &::after {
    content: "";
    width: 46px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent url("/img/icon-youtube.svg") no-repeat center center;
    background-size: 20px auto;
  }
}

.footer-page__developer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 140px;
  margin: 0 auto;
  margin-top: 38px;
}


.footer-page__link-image:hover {
  fill: #81b3d2;
}

.footer-page__link-image:active {
  fill: #b2b2b2;
}



.footer-page__developer-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .footer-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    min-height: 120px;
    padding: 0 60px;
    box-sizing: border-box;
  }

  .footer-page__instagram {
    width: 140px;
    margin: 0;
    padding: 0 1px;
  }

  .footer-page__social {
    margin: 0;
  }

  .footer-page__hashtag {
    margin: 0;
  }

  .footer-page__developer {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer-page {
    max-width: 1200px;
    padding: 0 120px;
  }
}
