.page-wrap {
  font-family: "PT Sans", "Verdana", sans-serif;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-wrap {
    min-width: 768px;
    max-width: 1199px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-wrap {
    max-width: 1200px;
  }
}
